@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=New+Tegomin&display=swap');

$color-1-gunmetal:  hsl(188, 63%, 9%);
$color-2-dark_moss_green: hsl(74, 32%, 32%);
$color-3-light_sea_green: hsl(179, 100%, 33%);
$color-4-platinum: hsl(0, 0%, 90%);

// Opacity colors
$color-1-opacity: hsl(188, 63%, 9%, 0.2);
$color-3-opacity: hsl(179, 100%, 33%, 0.2);

// Fonts 
$heading-font: "New Tegomin", "Trebuchet MS", serif;
$para-font: "Montserrat", "Century Gothic", sans-serif;